:root {
  font-family: "Open Sans";

  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-seconday: #141418;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background: white;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

@import "navbar";
@import "scrollbar";
@import "media";